@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <p>Learn about <a href="https://remvt.com/" REM Vision Technologies SL</a> REM Vision Technologies SL.</p>
</div>
